.form-action {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 20px;

  .btn {
    padding: 6px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .submit-btn {
    background-color: #002851;
    color: white;
  }

  .submit-btn:hover {
    color: white;
    background-color: #8bbcd1;
  }

  .cancel-btn {
    background-color: #D9543F;
    color: white;
  }

  .cancel-btn:hover {
    background-color: #e4959c;
  }
}
