/* Anchor Styling */
.anchor {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.anchor:hover {
    text-decoration: underline;
    color: #0D1F33;
}