.code-container {
  flex-basis: 80%;
  flex-grow: 1;
  overflow: hidden;
  min-width: 0;
}

.copy-container {
  flex-basis: 10%;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-width: fit-content;
}
