.btn-primary {
  background-color: #002851 !important;
  border-color: #002851 !important;
}

.text-primary {
  color: #002851 !important;
}

.bg-primary {
  background-color: #002851 !important;
}
.form-check-input:checked {
  background-color: #002851 !important;
  border-color: #002851 !important;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 40, 81, 0.25) !important;
}

.form-check-label {
  color: #002851 !important;
}

.custom-nav-link {
  color: #002851 !important;
}

.custom-nav-link.active {
  background-color: rgba(0, 40, 81, 0.1) !important;
  color: #002851 !important;
}

.custom-nav-link:hover {
  color: #002851 !important;
}
