/* Input Styling */
.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input:focus {
    border-color: #0D1F33;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}