.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170vh; 
    height: 95vh; 
    margin: 50% auto ;
    padding: 50;
    background-color: #fcfcfc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 70px;
    border-color: white;
  }
  h4{
    color:rgb(22, 22, 141);
  }
  
  .row{
   margin-top:2%;
  }
  .label
  {
    margin-left:4px;
    color:rgb(24, 10, 118);
    font-family: Arial;
    font-size:15px;
    font-weight: 400  ;
  }

  .inputfield {
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 25px;
    background-color: #f1f1ff;
    color: rgb(189, 189, 189);
  }
  
  .inputfield:hover {
    background-color: #ffffff;
    border-color: #002851;
  }
  .inputfield:active {
    background-color: #ffffff;
    box-shadow: 0; 
    
  }

  .button{
    background-color: #002851;
    color:white;
    border: 1px solid #002851;
    width:200px;

  }
  .button:hover{
    color : #002851;
    background-color:white;
    border: 1px solid #002851;
  }
  .errormsg{
    color:red;
    font-size:12px;
  }
  
  




