/* Corner Styles */
.card-with-corners {
    position: relative;
    overflow: hidden; /* Ensures corners don't overflow */
  }
  
  .corner {
    position: absolute;
    background-color: #d8b4fe; /* Light purple */
    width: 123px;
    height: 150px;
    border-radius: 0 0 0 100%; /* Quarter-circle shape */
    z-index: -1;
  }
  .corner1 {
    position: absolute;
    background-color: #FB6FBB; /* Light purple */
    width: 123px;
    height: 150px;
    border-radius: 0 0 0 100%; /* Quarter-circle shape */
    z-index: -1;
  }
  
  .top-left {
    top: -60px;
    left: 0px;
    transform: rotate(270deg);
  }
  
  .top-right {
    top: -60px;
    right: 0px;
  }
  
  .bottom-right {
    bottom: -60px;
    right: 0px;
    transform: rotate(90deg);
  }
  
  .bottom-left{
    bottom: -60px;
    left: 0px;
    transform: rotate(155deg);
  }
  .radius{
    border-radius: px;
  }