$primary: #007bff;
$secondary: #6c757d;
$warning: #856404;
$success: #155724;
$info: #0c5460;
$danger: #721c24;
$content-color: #1c4980;

// for status label background
$primary-bg: #e7f1ff;
$secondary-bg: #f4f4f4;
$warning-bg: #fff3cd;
$success-bg: #d4edda;
$info-bg: #d1ecf1;
$danger-bg: #f8d7da;

// for role label
$red: #d04646;
$blue: #548fcf;
$green: #59935c;
$yellow: #d0aa50;
$gray: #546e7a;
$brown: #8b4513;
